.popup-wrapper {
    overflow:hidden;
    background:#020202bb;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    display:none;
}
.popup {
    z-index: 1000;
    width: 100%;
    background:white;
    max-width: 300px;

    padding: 1rem;
    margin: 10% auto;

    text-align: center;
    position: relative;
}

.popup a {
    background:gray;
    color:white;
    padding:6px 10px;
}
.popup-button {

}
.popup-close {

    position: absolute;

    top: 0px;
    right: 6px;

    cursor: pointer;
}
